@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

*:focus, *:hover {
  outline: none;
}

body {
    background-color: steelblue;
}

#main-container {
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app-header {
  margin-top: 10vh;
  margin-bottom: 4rem;
  font-size: 4rem;
  color: white;
}

@media screen and (max-width: 400px){
#app-header {
  font-size: 3rem;
}
};